
/* ANCHOR PANE */
.AnchorPane {
    -fx-background-color: #edebe1;
}



/* BUTTON */
.Button {
    -fx-background-color: #d8c47c;
}

.Button:hover {
    -fx-background-color: #e4e088;
}

.Button:pressed {
    -fx-background-color: #8f8451;
    -fx-text-fill: white;
}



/* TABLE */
#Table {
    -fx-font-size: 14px;
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

#Table .table-cell {
    -fx-alignment: CENTER;
}

#Table .column-header {
    -fx-background-color: #d8c47c;
}

#Table .table-row-cell:even {
    -fx-background-color: #f5edd3;
}

#Table .table-row-cell:odd {
    -fx-background-color: #fceebd;
}

#Table .table-row-cell:hover {
    -fx-background-color: white;
    -fx-font-weight: bold;
}



/* DIAGRAMME */
.default-color0.chart-bar {
    -fx-bar-fill: gold;
}

.default-color1.chart-bar {
    -fx-bar-fill: silver;
}

.default-color2.chart-bar {
    -fx-bar-fill: #cd7f32;
}

.BarChart {
    -fx-spacing: 10;
}